.center-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  @extend .center-container;
  height: 40em;
  width: 40em;
  border: 1px solid black;
  border-radius: 1em;
  text-align: center;
  position: relative;
}

:host {
  height: 100%;
}

img {
  width: 120px;
  height: 120px;
}

.spinner {
  position: relative
}

.spinner-text {
  position: absolute;
  top: 42%;
  left: 42%;
  font-size: 4em;
}

.top-margin-1 {
  margin-top: 1em;
}

.blur {
  filter: blur(5px);
}

.right-corner-spinner {
  position: absolute;
  top: 1em;
  right: 1em;
}

.right-corner-spinner-text {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-corner-spinner-text h2 {
  font-size: 2em;
  margin: 0;
}
