.mat-form-field {
  width: 50%;
}

.expansion-panel {
  // max-height: 300px;
}

.overflow {
  overflow: auto;
}

.width-50 {
  width: 50%;
}

.tracks-container {
  padding-block: 1em;
}


.top-margin-1 {
  margin-top: 1em;
}


.left-margin-05 {
  margin-left: 0.5em;
}


.flex-column-container {
  display: flex;
  flex-direction: column;
}
