<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>

    <target
      xsi:type="File"
      name="log"
      fileName="${basedir}/logs/log.txt"
      layout="${date} | ${logger} | ${level} | ${aspnet-request-url:IncludeHost=false:IncludeScheme=false} | ${aspnet-response-statuscode} | ${message} | ${mdlc:traceid} | ${exception:format=ToString}"
      maxArchiveFiles="100"
      archiveAboveSize="4194304"
      archiveNumbering="Rolling" />

    <target
      xsi:type="File"
      name="error"
      fileName="${basedir}/logs/error.txt"
      layout="${date} | ${logger} | ${level} | ${aspnet-request-url:IncludeHost=false:IncludeScheme=false} | ${aspnet-response-statuscode} | ${message} | ${mdlc:traceid} | ${exception:format=ToString,Data}"
      maxArchiveFiles="100"
      archiveAboveSize="4194304"
      archiveNumbering="Rolling" />

    <target
      xsi:type="Console"
      name="console"
      layout="${date} | ${logger} | ${level} | ${aspnet-request-url:IncludeHost=false:IncludeScheme=false} | ${aspnet-response-statuscode} | ${message} | ${mdlc:traceid} | ${exception:format=ToString}" />

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="log,console" />
    <logger name="*" minlevel="Error" writeTo="error" />

  </rules>
</nlog>